.large-avatar{width:150px;height:150px;border-radius:23px}
.medium-avatar{width:70px;height:70px;border-radius:5px}
.profile-header{font-size:13px}
.profile-screen-name{display:inline}
.sidebar{background-color:#43446d;font-size:15px;}
.sidebar ul > li > a{color:#fff}
.sidebar ul > li > a.active{background:rgba(66,139,202,0.38);color:#fff}
.sidebar ul > li:hover > a{background:#428bca;color:#fff}
.profile-block{margin-top:20px;}
.profile-block .block-header{height:75px;font-size:24px;color:#fff;padding-top:6px}
.profile-block .event-feed-header{background-color:#428bca}
.profile-block .tag-header{background-color:#36b838}
.profile-block .player-list-header{background-color:rgba(216,36,50,0.74)}
.profile-block .block-body{background-color:#f5f2f2}
.profile-block .event-feed-body{height:100px}
.profile-block .player-list-body{height:auto}
.profile-block .tag-body{height:100px;padding-top:17px;}
.profile-block .tag-body .form-control{float:left;display:block;width:225px;height:66px;padding:11px 11px;font-size:28px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #c0b6b6}
.profile-block .tag-body .save-tag-btn{margin-top:10px;margin-left:66px;background-color:#98c4e9;border-color:#fff}
.player-item{display:inline-block;width:79px;font-size:11px;height:88px;padding:4px;margin:2px;overflow:hidden}
.login-page{margin-top:150px}
.create-account-page{margin-top:50px}
