<div class="container-fluid">
  <div class="row">
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-toggle="collapse" data-target=".sidebar"></div>
        </div>
        <a href="index.html" class="logo"><b>DASH<span>IO</span></b></a>
        <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    <div id ="sidebar" class="col-sm-3 col-md-2 sidebar">
      <ul class="sidebar-menu">
        <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="80"></a></p>
        <h5 class="centered">Sam Soffes</h5>
        <li class="mt">
          <a class="active" href="index.html">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
          </a>
        </li>
        <li class="mt">
          <a href="index.html">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
          </a>
        </li>
       <li class="mt">
          <a href="index.html">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {{outlet}}
  <footer class="site-footer">
    <div class="text-center">
      2014 - Alvarez.is
      <a href="index.html#" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
</div>
