{{#each game in games}}
  <div class="game-list-item bs-callout {{#if game.is_closed}}discovery-callout{{else}}discovery-callout-disabled{{/if}}">
    <div class="container-fluid profile-header">
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <p class="game-list-name">{{#link-to 'game' game }} {{game.name}} {{/link-to}}</p>
            <p class="game-list-description">{{game.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
