<div class="bs-callout discovery-callout">
  <div class="container-fluid profile-header"> 
    <div class="row">
      <div class="col-md-12">
        <div class="game-list-name">
          {{#link-to 'game' 1 }}University of Idaho Spring 2013 {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>




