<div class="container">
  <div>
    <h2>Welcome to <span class="flesh-logo">flesh</span></h2>
    <br>
    {{#if session.isAuthenticated}}
    {{else}}
        <h4>To get started</h4>
      <p>
        {{#link-to 'login'}} Login {{/link-to}} or
        {{#link-to 'users.create'}} Create a new account {{/link-to}}
      </p>
      <br>
    {{/if}}
    <div >
      {{render sms_instructions}}
    </div>
  </div>
  <br>
  <br>
  <div>
    {{partial 'discovery'}}
  </div>
</div>
