 <h4>
 	SMS tagging instructions:
 </h4>
 <ol>
 	<li>
 		Visit {{#link-to 'user.edit' session.user}} settings {{/link-to}} and add your phone #
 	</li>
 	<li>
 		text +1 208-402-4500 with "tag" followed by a human code. e.g. "tag abcd"
 	</li>
 </ol>
