.join-game
  margin-top: 20px

.game-list-name
  font-weight: 200px
  font-size: 35px
  margin-bottom: 30px
  color: #0A98D3

.game-info-text
  font-size: 30
  font-weight: bold

//call out stuff for the discovery page
.bs-callout
  padding: 15px 30px 15px 15px
  border-left: 5px solid #eee

.bs-callout h4
  margin-top: 0

.bs-callout p:last-child
  margin-bottom: 0;

.bs-callout code,
.bs-callout .highlight
  background-color: #fff

/* Themes for different contexts */
.bs-callout-danger
  background-color: #fcf2f2
  border-color: #dFb5b4

.discovery-callout
  background-color: #DAE9F6
  border-color: #0A98D3



//flesh logo
.logo
  text-shadow:none
  font-family:"sansita one"
  font-weight:bold
.navbar-brand
  margin-left: 20px
  font-size:30px
  line-height:40px


//d3
body 
  font: 10px sans-serif;

.axis path,
.axis line
  fill: none
  stroke: #000
  shape-rendering: crispEdge

.x.axis path
  display: none

.line
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;


//profile photos
.large-avatar
  width: 150px
  height: 150px 
  border-radius: 23px 

//used in the player list
.medium-avatar
  width: 70px;
  height: 70px;
  border-radius: 5px;

//text under the avatar for game and user profiles
.profile-header
  font-size: 13px

//text under the avatar on profiles only
.profile-screen-name
  display: inline

//left navigation
.sidebar 
  background-color: #43446D
  font-size: 15px
  ul > li > a
    color: #fff;
  ul > li > a.active 
    background: rgba(66, 139, 202, 0.38)
    color: #fff
  ul > li:hover > a 
    background: #428bca 
    color: #fff 

.chart
  height: 230px
  width: 600px
  background-color: #000

// all the content on game profiles are made of these blocks
.profile-block
  //the colored title for any block
  margin-top: 20px
  .block-header
    height: 75px
    font-size: 24px
    color: #fff
    padding-top: 6px
  //colors for the various block headers
  .event-feed-header
    background-color: #428bca
  .tag-header
    background-color: #36B838
  .player-list-header
    background-color: rgba(216, 36, 50, 0.74)

  //the content body of any block
  .block-body
    background-color: #F5F2F2
  //details for specific block bodies
  .event-feed-body
    height: 100px
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    //only for empty feed
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    margin: 0 auto;
  .player-list-body
    height: auto    
  .tag-body
    height: 100px
    padding-top: 17px
    .form-control
      float: left
      display: block;
      width: 225px;
      height: 66px;
      padding: 11px 11px;
      font-size: 28px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #C0B6B6;
    .save-tag-btn
      margin-top: 10px
      margin-left: 66px
      background-color: #2A7ABD;
      border-color: #FFFFFF;

//an item in the player list on the game profile page
.player-item
  display: inline-block;
  width: 79px;
  font-size: 11px;
  height: 88px;
  padding: 4px;
  margin: 2px;
  overflow: hidden;
//   .player-item-avatar
//   .player-item-name

.login-page
  margin-top: 150px

.create-account-page
  margin-top: 50px
