.join-game
  margin-top: 20px

.game-list-item
  margin: 18px

.game-list-name
  font-size: 35px

.game-list-description
  font-size: 16px

.game-info-text
  font-size: 30
  font-weight: bold


//flesh logo
.flesh-logo
  text-shadow:none
  font-family:"sansita one"
  font-weight:bold
.navbar-brand
  margin-left: 20px
  font-size:30px
  line-height:40px

.navbar {min-height:50px !important}

//profile photos
.large-avatar
  width: 150px
  height: 150px
  border-radius: 23px

//used in the player list
.medium-avatar
  width: 70px;
  height: 70px;
  border-radius: 5px;

.small-avatar
  width: 40px;
  height: 40px;
  border-radius: 5px;

//text under the avatar for game and user profiles
.profile-header
  font-size: 13px

//text under the avatar on profiles only
.profile-screen-name
  display: inline

.sidebar
  font-size: 15px

.login-page
  margin-top: 150px

.create-account-page
  margin-top: 50px
