//wider buttons in the left nav
ul.sidebar-menu li
 margin-left: 0px; 
 margin-right: 0px;

//fixes the nav bar
body
  margin-left: -14px;
  margin-right: -14px;

//for profile panels
.green-panel .green-header
  margin-bottom: 0px; 

.group-rom .first-part
  width: 25%
  padding-left: 5px

.group-rom .second-part
  width: 50%

.group-rom .third-part
  width: 25%

.group-rom .first-part, .group-rom .second-part, .group-rom .third-part
    float: left;
    padding-bottom: 5px
    text-align: left

//no $ so no need for margin
.content-panel h4
  margin-left: 0px;


//setting up main dashio color

.profile-text h3
.profile-text h4
  color: #7B489C //purple


ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus
  background: #835AC2 //purple on dark



