// all the content on game profiles are made of these blocks
.profile-block
  //the colored title for any block
  height: auto
  margin-top: 20px

  .block-header
    height: 40px
    font-size: 20px
    color: #fff
    text-align: center
    line-height: 2.1
    font-size: 20px
    font-weight: 300

  //colors for the various block headers
  .event-feed-header
    background-color: #389CD0

  .tag-header
    background-color: #43b1a9

  .player-list-header
    background-color: rgba(216, 36, 50, 0.74)

  //details for specific block bodies
  .event-feed-body
    height: auto
    font-size: 15px
    line-height: 2.1

  .player-list-body
    height: auto

  .tag-body
    background-color: #4ECDC4;
    padding-top: 17px
    .form-control
      display: block;
      height: 66px;
      padding: 11px 11px;
      font-size: 22px;
      line-height: 1.5;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #C0B6B6;

    .save-tag-btn
      font-size: 22px;
      line-height: 1.5;
      padding: 11px 11px;
      height: 100%
      width: 100%
      margin: auto
      background-color: #4FB9C2;
      border-color: #FFFFFF;

//an item in the player list on the game profile page
.player-item
  display: inline-block;
  width: 79px;
  font-size: 11px;
  height: 88px;
  padding: 4px;
  margin: 2px;
  overflow: hidden;

.tag-event
  padding-left: 50px

  .tag-event-text
    //stolen from medium
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    line-height: 2.1;
    color: #333332;
  .tag-event-date
    padding-left: 2px;
    padding-top: 2px;

.join-game-event
  padding-left: 50px
  margin-bottom: 20px

  .join-event-text
    //stolen from medium
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    line-height: 2.1;
    color: #333332;

  .join-game-event-date
    padding-left: 2px;
    padding-top: 2px;
