// //game profile chart
// .chart
//   height: 230px
//   width: 600px
//   background-color: #000

//d3
body 
  font: 10px sans-serif;

.axis path,
.axis line
  fill: none
  stroke: #000
  shape-rendering: crispEdge

.x.axis path
  display: none

.line
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
